server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5434/order_db
    username: order_user
    password: order_pass
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces

app:
  kafka:
    topics:
      order-events: order.events
      order-commands: order.commands
      inventory-commands: inventory.commands
      payment-commands: payment.commands
      inventory-events: inventory.events
      payment-events: payment.events
  outbox:
    publish-interval-ms: 2000
    batch-size: 100
  saga:
    timeout-seconds: 300
    reaper-interval-ms: 10000

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres-order:5432/order_db
    username: order_user
    password: order_pass
  kafka:
    bootstrap-servers: kafka:29092
  data:
    redis:
      host: redis
      port: 6379

management:
  otlp:
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
